body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #252423;
  color: white;
}

h1 {
  background-image: linear-gradient(
    109.6deg,
    rgba(245, 56, 56, 1) 11.2%,
    rgb(247, 137, 48) 78%
  );
  text-align: center;
}

.issueBox {
  background-color: #3d3b3a;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 1%;
  padding-left: 1%;
}

.issueSmall {
  font-size: x-small;
}

.notifyDiv {
  background-image: linear-gradient(
    109.6deg,
    rgba(245, 56, 56, 1) 11.2%,
    rgb(247, 137, 48) 78%
  );
}

a {
  color: #00b7ff;
}
